@model ArticleResponse
@using ArticlesViewer.Application.Commands
@inject IAuthorizationService AuthService

<section class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h2 class="position-relative">
            @Model.Title
        </h2>
        <a asp-controller="Account" asp-action="UserProfile" asp-route-userid="@Model.User.Id">Author: @Model.User.UserName</a>
        <span class="badge bg-primary">
            @Model.TopicTag
        </span>
        <br />
        <span>@Model.PublicationDate.ToShortDateString()</span>
        <span>Views: @Model.Views</span>
    </div>
    <div class="col-3"></div>
</section>
<main class="overflow-hidden">
    @Html.Raw(@Model.Content)
</main>
<div>
    @if ((await AuthService.AuthorizeAsync(User, new DeleteArticleCommand(Model.Id), new AllowDeleteArticleRequirement())).Succeeded)
    {
        <form method="post" asp-controller="ArticleHandler" asp-action="DeleteArticle">
            <input hidden name="id" value="@Model.Id">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    }
</div>
